.login h1 a {
    background: url(admin/logo-login.png) no-repeat center;
    width: 260px;
    margin: 0 auto;
}

.login form {
    box-shadow: 0 0px 2px rgba(0, 0, 0, .13);
    -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, .13);
}