/* CSS Reset*/
html {margin:0;padding:0;border:0;}body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline; list-style: none; }

/* Body setup*/
body {
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: #666;
    -webkit-font-smoothing:antialiased;
    -webkit-backface-visibility: hidden;
}

a {
    text-decoration: none;
    color: #f95905;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.container { width: 995px; margin: 0 auto; position: relative; }

/* Clearfix */
.cf:before,
.cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; /* IE 6/7 only */ }

header li { float: left; }
header .top-navbar {
    background: #212121;
    font-size: 11px;
}
header .top-navbar a { color: #bbb; display: block; line-height: 20px; padding: 0 25px 0 0; }
header .top-navbar a:hover { color: #fff; }
header .top-navbar .login { float: right; padding: 0; }
header .top-navbar .login i { color: #f95905; }
