#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
    background: #f95905;
}

/* Clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1; /* IE 6/7 only */
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

/* Homepage editor */
.net-editor {
    margin: 20px 20px 0 0;
    min-height: 500px;
    position: relative;
}

.net-editor .item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 0 3px #d8d8d8;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.net-editor .item h2 {
    font-size: 12px;
    text-transform: uppercase;
}

.net-editor .item h1 {
    font: 20px/24px 'Georgia', Times New Roman, serif;
    font-style: italic;
    padding: 0 10px;
    margin: 0;
}

.home-grid {
    margin-right: 320px;
    background: #fafafa;
    border: 1px solid #ddd;
    min-height: 500px;
    border-bottom-left-radius: 30px;
}

.home-grid .inner {
    margin: 20px auto;
    width: 990px;
}

.g1 {
    width: 400px;
    height: 250px;
}

.articles {
    width: 300px;
    min-height: 500px;
    background: #fafafa;
    border: 1px solid #ddd;
    position: absolute;
    top: 0px;
    right: 0px;
    border-top-right-radius: 30px;
}

.articles .inner {
    padding: 10px;
}

#widget-list [id*='_nethr_'] .widget-top {
    background-color: #f95905;
}

