<template>
    <div class="wrap">
        <h1>DFP setup</h1>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Type</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(vars, key) in setup">
                <td>{{ key }}</td>
                <td><select v-model="vars.type">
                    <option value="int">Int</option>
                    <option value="float">Float</option>
                    <option value="string">String</option>
                    <option value="array">Array</option>
                    <option value="json">JSON</option>
                </select></td>
                <td><input type="text" v-model="vars.value"></td>
            </tr>
            </tbody>
        </table>
        <br>
        <button class="button-primary" @click="save_setup">{{ setup_button }}</button>
        <br><br>
        <h1 class="wp-heading-inline">Units</h1>
        <div v-for="(unit, index) in units" :key="'unit'+index">
            <table class="wp-list-table widefat posts">
                <tbody>
                <tr>
                    <td>{{ index+1 }}.</td>
                    <td>
                        <input type="text" placeholder="Unit name" v-model="unit.name" size="40">
                        <label>Location</label>
                        <select v-model="unit.location">
                            <option value="both">Both</option>
                            <option value="mobile">Mobile</option>
                            <option value="desktop">Desktop</option>
                        </select>
                        <label>Desktop/page</label>
                        <select v-model="unit.front">
                            <option value="both">Both</option>
                            <option value="no">No</option>
                            <option value="yes">Yes</option>
                        </select>
                    </td>
                    <td>
                        <button @click="delete_unit(index)" class="page-title-action">Delete unit</button>
                    </td>
                </tr>

                <tr>
                    <td>Vars</td>
                    <td>
                        <table>
                            <tbody>
                            <tr>
                                <td>a</td>
                                <td><input type="text" v-model="unit.a" size="3"></td>
                                <td>b</td>
                                <td><input type="text" v-model="unit.b" size="3"></td>
                                <td>j</td>
                                <td><input type="text" v-model="unit.j" size="3"></td>
                                <td>k</td>
                                <td><input type="text" v-model="unit.k" size="3"></td>
                                <td>h</td>
                                <td><select v-model="unit.h">
                                    <option value="">None</option>
                                    <option :value="mapping.name" v-for="mapping in mappings">{{ mapping.name }}
                                    </option>
                                </select></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>

                </tr>
                <tr>
                    <td>Sizes</td>
                    <td>
                        <table>
                            <tbody>
                            <tr v-for="(size,index2) in unit.sizes" :key="'size'+index2">
                                <td>
                                    <input type="number" step="1" min="0" v-model="size.x" size="3">
                                </td>
                                <td>
                                    <input type="number" step="1" min="0" v-model="size.y" size="3">
                                </td>
                                <td>
                                    <button @click="remove_size(index, index2)">X</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <button @click="add_size(index)" class="page-title-action">Add size</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <button class="button-primary" @click="save_units">{{ units_button }}</button>
        <button @click="add_unit" class="page-title-action">Add unit</button>
        <br><br>
        <h1 class="wp-heading-inline">Mappings</h1>
        <div v-for="(mapping, index) in mappings" :key="'mapping'+index">
            <table>
                <tbody>
                <tr>
                    <td>{{ index+1 }}</td>
                    <td><input type="text" v-model="mapping.name">
                        <button @click="delete_mapping(index)">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table>
                            <thead>
                            <tr>
                                <th>viewPort width</th>
                                <th>viewPort height</th>
                                <th>slotSize width</th>
                                <th>slotSize height</th>
                                <td>
                                    <button @click="add_mapping_size(index)" class="page-title-action">Add row</button>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(size, index2) in mapping.sizes" :key="'mapping_size'+index2">
                                <td><input type="number" step="1" min="0" v-model="size.viewport_width"></td>
                                <td><input type="number" step="1" min="0" v-model="size.viewport_height"></td>
                                <td><input type="number" step="1" min="0" v-model="size.slotsize_width"></td>
                                <td><input type="number" step="1" min="0" v-model="size.slotsize_height"></td>
                                <td>
                                    <button @click="delete_mapping_size(index, index2)">X</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <button class="button-primary" @click="save_mappings">{{ mappings_button }}</button>
        <button @click="add_mapping" class="page-title-action">Add mapping</button>
        <br><br>
    </div>
</template>

<script>

    export default {
        name: "adunits",
        data() {
            return {
                setup: {},
                units: [],
                mappings: [],
                mappings_button: 'Save mappings',
                units_button: 'Save units',
                setup_button: 'Save setup',
            }
        },
        mounted() {
            window.axios.get(wpApiSettings.root + 'tmg/v1/dfp/setup')
                .then((res) => {
                    this.setup = res.data.setup;
                });
            window.axios.get(wpApiSettings.root + 'tmg/v1/dfp/mappings')
                .then((res) => {
                    this.mappings = res.data.mappings;
                });
            window.axios.get(wpApiSettings.root + 'tmg/v1/dfp/units')
                .then((res) => {
                    this.units = res.data.units;
                });
        },
        methods: {
            add_unit() {
                this.units.push({name: '', a: '', b: '', j: '', k: '', h: '', sizes: []});
            },
            add_size(index) {
                this.units[index].sizes.push({x: 0, y: 0});
            },
            remove_size(index, index2) {
                this.units[index].sizes.splice(index2, 1);
            },
            delete_unit(index) {
                this.units.splice(index, 1);
            },
            delete_mapping(index) {
                this.mappings.splice(index, 1);
            },
            add_mapping() {
                this.mappings.push({name: '', sizes: []});
            },
            add_mapping_size(index) {
                this.mappings[index].sizes.push({
                    viewport_width: 0,
                    viewport_height: 0,
                    slotsize_width: 0,
                    slotsize_height: 0
                });
            },
            delete_mapping_size(index, index2) {
                this.mappings[index].sizes.splice(index2, 1);
            },
            save_units() {
                this.units_button = 'Saving';
                window.axios.post(wpApiSettings.root + 'tmg/v1/dfp/units', this.units)
                    .then((res) => {
                        this.units_button = 'Saved!';
                        setTimeout(() => {
                            this.units_button = 'Save units';
                        }, 2000);
                    })
            },
            save_mappings() {
                this.mappings_button = 'Saving';
                window.axios.post(wpApiSettings.root + 'tmg/v1/dfp/mappings', this.mappings)
                    .then((res) => {
                        this.mappings_button = 'Saved!';
                        setTimeout(() => {
                            this.mappings_button = 'Save mappings';
                        }, 2000);
                    })
            },
            save_setup() {
                this.setup_button = 'Saving';
                window.axios.post(wpApiSettings.root + 'tmg/v1/dfp/setup', this.setup)
                    .then((res) => {
                        this.setup_button = 'Saved!';
                        setTimeout(() => {
                            this.setup_button = 'Save setup';
                        }, 2000);
                    })
            }
        }
    }
</script>